body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
a{color:greenyellow;}
.container{
    margin: 120px auto;
    max-width: 600px;
}
header{
    margin-bottom: 30px;
}
h1{ 
text-align: center;    
font-weight: 800;
font-size: 36;
line-height: 1.5;
color: blueviolet;
}
.form-container{
    background-color: white;
margin-bottom: 30px;
border-radius: 10px;
 padding: 15px 20px;
 box-shadow: 0px 20px 60px rgb(31, 30, 30);
}
form {    
    display: flex;
   

}
.hint{
    line-height: 1.5;
    font-size:12px;
    margin-top: 5px;
    opacity:0.6 ;
}
.instructions{ 
    padding: 16px;
    border: 1px solid gray;
    width: 80%;
    font-size: 16px;
border-radius: 50px;
line-height: 20px;
color:blueviolet
}
.button{
  margin-left: 10px;
  background-color: rgb(255, 0, 149);  
  color: aliceblue  ;
  border: none;
  width: 150px;
border-radius: 50px;
padding: 14px 24px;  

}
.fact{
    font-size: 16px;
    background-color: aliceblue;
    padding:20px;
    line-height: 2px;
    border-left: 3px solid greenyellow;
    box-shadow: 0px 4px 30px 0px rgb(31, 30, 30);
 
}
.hidden{
    display:none;
}
footer{text-align: center;
    font-size:13px ;
    margin-top:30px ;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}